.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 600px;
    padding-bottom: 30px;
    background: white;
}  
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.text{
    color: #ff5757;
    font-size: 38px;
    font-weight: 700;
    justify-content: center;
    position: absolute;
    top: -2rem;
    left: 15rem;
    
}


.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.inputt{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background: white;
    border-radius: 6px;
    margin: 0px 30px;

}

.inputt input{
    height: 30px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #7d7a7a;
    font-size: 19px;
    margin-left: 1rem;

}

#icon{
    font-size: 1.2rem;
    color:#7d7a7a;
    margin-left: 1.2rem;
}

.forgot-password{
    margin-top: 39px;
    color: #7d7a7a;
    font-size: 16px;
    padding-left: 50px;
}
.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: #ff5757;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
 
.gray{
    background: #F0F0F0;
    color: #7d7a7a;
}