.header{
    margin:0.2rem;
    padding:0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLeft{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.header_icon{
    width:80px;
    padding-right: 10rem;
    cursor:pointer;
}

/* a indicate Link property */
a > span{
    margin:0 30px;
    font-size: 1.3rem;
    cursor:pointer;
    color:#000;
}


a > span:hover{
    color:red;
}



