@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap");

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:snow;
  position: fixed;
  z-index: 1000;
  padding: 0 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}


.search-bar {
  background-color: snow;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30rem;
  height: 3rem;
  border-radius: 10px;
  padding-left: 1rem;
  border:1px solid black;
}


.location {
  background-color:snow;
  margin-left: 25rem;
}

.login{
  margin-bottom:1rem;
}

.form{
  padding-bottom: 15px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

input{
  border:0;
  outline:0;
  background:none;
  color:snow;
  font-size:20px;
}