@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

nav{
    width:100%;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#F0F0F0;
     /* border:1px solid black; */
}

.navleft{
    width:30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.nav_logo{
    width:150px;
    height:50px;
    margin-left:5rem;
}

.upcoming{
    /* background-color:#F0F0F0; */
    padding:0.5rem 2rem;
    border-radius: 10px;
    background-color: snow;
}

.upcoming p{
   color:#000;
   font-size:1rem;
   font-family: 'DM Sans', sans-serif;
}

.navleft .upcoming:hover{
    background:rgb(145, 145, 147);
    cursor: pointer;
}

.navright{
    width:70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.input-wrapper{
    /* border:1px solid black; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color:snow;
    padding:0.5rem;
    margin-left: 3rem;
} 
input{
    outline: none;
    border: none;
    padding:0.2rem 0;
    font-size: 0.95rem;
    width:700px;
    border-radius: 10px;
    margin-left:0.5rem;
    font-family: 'DM Sans', sans-serif;
    background-color:snow;
} 


#search-icon{
    font-size: 1.2rem;
    color:#7d7a7a;
}


.location{
    font-size:1.5rem;
    margin-left:5rem;
}

/* 
button {
    padding:0.5rem 2rem;
    border-radius: 10px;
    margin-right:3rem;
    outline:none;
    border:none;
    background-color: snow;
}

button p{
    font-size:1rem;
    font-family: 'DM Sans', sans-serif;
 }
 
button:hover{
    background:rgb(145, 145, 147);
    cursor: pointer;
} */

.signIn{
    /* background-color:#F0F0F0; */
    padding:0.5rem 2rem;
    border-radius: 10px;
    background-color: snow;
}

.signIn button{
    color:#000;
    font-size:1rem;
    font-family: 'DM Sans', sans-serif;
 }
 
 .navright .signIn:hover{
    background:rgb(145, 145, 147);
    cursor: pointer;
 }

/* p */
/*.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    padding-bottom: 30px;
    background: white;
}  
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #ff5757;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #ff5757;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.inputt{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: white;
    border-radius: 6px;
    margin: 0px 30px;

}

.inputt input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #7d7a7a;
    font-size: 19px;

}

.forgot-password{
    padding-top: 62px;
    margin-top: 27px;
    color: #7d7a7a;
    font-size: 18px;
}
.forgot-password span{
    color: #ff5757;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #F0F0F0;
    background: #ff5757;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
 
.gray{
    background: #F0F0F0;
    color: #7d7a7a;
}*/