@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.ticket-booking {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
#ticket{
  display: none;
}

/* left side seat booking page start   */

.seat-booking {
  flex-basis:74%;
  height:100vh;
  text-align: center;
  padding: 20px;
  position: relative;
  background-color: snow;
}

.movie-container {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.status {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20rem;
}

.item {
  font-size: 14px;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -14px;
  transform: translate(0, -50%);
  width: 10px;
  height: 10px;
  background: rgb(240, 223, 223);
  outline: 1px solid rgb(120, 120, 120);
  border-radius: 1px;
}

.item:nth-child(2)::before {
  background: rgb(62, 60, 60);
  outline: none;
}

.item:nth-child(3)::before {
  background: rgb(246, 73, 73);
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row1{
  margin-top: 5rem;
}
.row2{
  display: none;
}
.seat-row{
  display: flex;
  flex-direction: row;
}


.seat {
  width: 25px;
  height: 25px;
  background-color: rgb(240, 223, 223);
  margin: 3px;
  cursor: pointer;
}

.seat.occupied {
  background-color: rgb(62, 60, 60);
}

.seat.selected {
  background-color: rgb(246, 73, 73);
} 

.screen {
  width: 90%;
  height: 8px;
  background-color: rgb(255, 0, 0);
  margin-top: -2rem;
}

.text {
  font-size: 18px;
  position: absolute;
  top: 38rem;
  left: 8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* left side seat booking page end */

/* right side booking summary start  */

.moviebook_right{
  flex-basis:25%;
  height:100vh;
  background-color: snow;
}

.moviebook_right h3{
  font-size:15px;
  margin:1rem;
}

.movie-detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail-left{
  flex-basis:30%;
  padding:2rem;
}
#banner{
  width:5rem;
  height:7rem;
  border-radius: 5px;
  box-shadow: none;
}

.detail-right{
  flex-basis:70%;
  padding:1rem;
}

.banner-name{
  font-size:18px;
  font-weight: bold;
}

#summary{
  font-size:14px; 
}

.seat-info{
  padding:0.5rem;
}
h5{
  font-size:1rem;
}

.seat-button{
  margin-top: -1rem;
}
button{
  background:  rgb(246, 73, 73);
  margin:1rem 0 0 0;
  font-size:15px;
  padding:10px 15px;
}

button:hover{
  background-color: rgb(235, 136, 136);
}

.ticket-info{
  padding: 1rem;
}

#payment{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -0.5rem;
}

#proceed{
  width:90%;
  margin:0 1rem;
}
/* right side booking summary end */

