.modal-content{
    width:100%;
    height:500;
}
#movie_trailer_modal{
    margin-left: 22rem;
}

#play_button{
    background: transparent;
    border: none;
}
#play_button i{
    font-size:2rem;
}

