@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap");
.movie {
    width: 100%;
    height:180vh;
    padding-top: 2rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.movie_intro{
    width:100%;
    height:70vh;
}
.movie__backdrop{
    width:90rem;
    height:35rem;
    margin-left:3rem;
    border-radius: 10px;
}
.movie_detail{
    width:100%;
    height:50vh;
    /* background-color: red; */
    position: relative;
}
.movie_detail_left{
    width:25%;
    /* background-color: blue; */
    position: absolute;
    top:-15rem;
    left:10rem;
}

.movie__poster {
    width:20rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}
.movie_detail_right{
    width:75%;
    /* background-color: aquamarine; */
    position: absolute;
    top:-16rem;
    left:32rem;
    
}
.movie__detail_right_top{
    color:snow;
}
.movie-trailer{
    margin-left:-1rem;
}

.movie__name p{
    font-weight:800;
    font-size:3rem;
    margin-bottom: 1rem;
}
.movie__tagline{
    font-size: 1.2rem;
}
.movie__rating{
    font-size: 1rem;
}
.movie__runtime{
    font-size: 1rem;
}
.movie__voteCount {
    margin-left: 1rem;
}
.movie__releaseDate{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.movie__genre_list{
    padding:5px;
    border: 2px solid #fff;
    border-radius: 20px;
    margin-right: 1rem;
    color:snow;
}

.movie__genres .movie__genre span{
    color:snow;
}

.movie__detail_right_bottom{
    margin-top:5rem;
}
.synopsisText{
    font-size:2rem;
    font-weight:300;
}
.overview{
    width:80%;
}
.movie__heading{
    font-size:2rem;
    font-weight:800;
    text-align: center;
}

.movie__production{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1rem;
    font-weight:600;
}

.movie__productionComapany {
    width:150px;
    margin: 2rem;
}

.productionCompanyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#movie_trailer_modal{
    margin-left: 22rem;
}
#movie_trailer_modal iframe{
    width:180%;
    height:500;
}
#play_button{
    background: transparent;
    border: none;
}

#book_ticket_mobile{
    display: none;
}

