@media screen and (max-width:768px) {
    .food-container{
        display: flex;
        flex-direction: column;
        width:100%;
        /* height:490vh;
        max-height: 550vh; */
        height:fit-content;
        padding-top:5rem;
    }
    
    .food-left{
        flex-basis:75%;
    }
    
    .btn-group{
        width:25rem;
        background-color:snow;
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 0 1rem 1rem;
        border-radius: 10px;
    }

    .btn-item{
        width:4rem;
        font-size:10px;
        display: flex;
        justify-content: center;
    }
    
    .food-item{
        display: flex;
        flex-wrap: wrap ;
        justify-content: center;
    }
    
   
    /* right side food booking summary start  */
    
    .food-right{
        flex-basis:25%;
        height:120vh;
        background-color: snow;
      }
      
      .food-right h3{
        font-size:15px;
        margin:1rem;
        font-family: 'Poppins';
      }
      
      .food-detail{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .detail-left{
        flex-basis:30%;
        padding:2rem;
      }
      #banner{
        width:5rem;
        height:7rem;
        border-radius: 5px;
        box-shadow: none;
      }
      
      .detail-right{
        flex-basis:70%;
        padding:1rem;
      }
      
      .banner-name{
        font-size:18px;
        font-weight: bold;
        font-family: 'Poppins';
      }
      
      #summary{
        font-size:14px; 
        
      }
      
      .food-info{
        padding:1rem;
        font-family: 'Poppins';
      }
      
      button{
        background:  rgb(246, 73, 73);
        margin:1rem 0 0 0;
        font-size:15px;
        padding:10px 15px;
      }
      
      button:hover{
        background-color: rgb(235, 136, 136);
      }
      
      .ticket-info{
        padding:1rem;
        font-family: 'Poppins';
      }
      
      #payment{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Poppins';
      }
      
      #proceed{
        width:90%;
        margin:0 1rem;
      }
      .food {
        width: 15rem;
        height:22rem;
        border-radius: 10px;
        background-color:snow;
        margin: 1rem;
      
      }
      
      .food-img img {
        width: 15rem;
        height: 15rem;
        padding:1rem 1rem 0;
      }
      
      #food-name{
      font-size:12px;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      
      .food-bottom{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding:0 1rem;
      }
      
      .food-bottom p{
          font-size:20px;
          padding-top: 1rem;
      }
      
      .add{
        display: flex;
        flex-direction: row;
        margin-bottom:1.5rem;
      }

      .add span{
        padding-top:1.5rem;
      }
}