 @media (max-width: 768px) {

    .movie {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction:column;
        align-items: center;
        height:auto;
        max-height: 170vh;
    }

    .movie__intro {
        display: none;
    }

    .movie__detail {
        align-items: center;
        width:80%;
        display: flex;
        flex-direction: column;
        position: relative;
        bottom:240px;
    }
    
    .movie__detailLeft {
       margin-top: 20rem;
       margin-left: 2rem;
    }
    
    .movie__detailRight {
        margin-top:2rem;
    }
    
    .movie__detailRightTop > div{
        text-shadow: 0;
        color:#000;
    }
    
    .movie__genre {
        padding:5px;
        width:100%;
    }
    
    .movie__genreshide{
        display: none;
    }
    
    .movie-trailer{
        border: 2px solid #000;
        float: left;
    }
    
    #trailer_icon{
        color:black;

    }
 
    .synopsisText {
        margin-top: 2rem;
    }

    .movie__production {
       display: none;
    }

    .movie__heading{
        display: none;
    }

    .modal-content{
        position: absolute;
        top:15rem;
        left:2rem;
    }

    iframe{
        width:18rem;
        height:10rem;
    }
  
    
    
    
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* .movie {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction:column;
        align-items: center;
        height:120vh;
    }
    
    .movie__intro {
        width: 80%;
        margin-top:4rem;
    }
    
    
    .movie__backdrop {
        width: 100%;
        height:200px;
        object-fit:cover;
        object-position: 0 20%;
    }

    
    .movie__detail {
        align-items: center;
        width: 75%;
        display: flex;
        position: relative;
    }
    
    .movie__detailLeft {
        margin-bottom:6rem;
    }
    
    .movie__poster {
        width:100px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
    }
    
    .movie__detailRight {
        display: flex;
        flex-direction: column;
        height:500px;
        justify-content:space-between ;
    }
    
    .movie__detailRightTop{
        text-shadow: 0px 0px 5px show;
        color:snow;
        font-size:12px;
        width:120%;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top:9rem;
        margin-left: -1.8rem;
        padding-left: 1rem;
    }
    
    .movie__name{
      display: none;
    }

    .movie__name1{
        display: contents;
    }
    
    .movie__voteCount {
        margin-left: 1rem;
    }
    
    .movie__genre {
       display: none;
    }
    
    .movie__genreshide{
        display: none;
    }
    
    .movie-trailer{
      display: none;
    }
    
    
    .movie__detailRightBottom {
      margin-top:2rem;
    }
    
    .button-container{
        width:17vh;
        height: 7vh;
        border-radius: 10px;
        background-color: rgba(255, 87, 87, 100);
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        position: relative;
    }
    
    .button-container p{
        color: white;
        font-size:15px;
        position: absolute;
        left: 1.3rem;
        top:1rem;
    }
    
    .synopsisText {
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        position: relative;
        align-items: center;
    }
    
  
    .movie__heading {
        display: none;
    }
    

    .movie__production {
        display: none;
    }
    
     */
 
} 

