/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .offer-img img {
        width: 100%; /* Use full width of the container */
        height: auto; /* Maintain aspect ratio */
        padding: 0.5rem; /* Adjust padding for better spacing */
    }
  }

  /* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .btn-group {
        max-width: 25rem; 
        /* Decreased max width for medium-sized screens */
        margin: 0 auto; /* Centered margin for mobile */
        padding: 0.5rem; /* Reduced padding for mobile */
    }
}