@media only screen and (max-width:768px) {
    .moviebook_mobile{
        display: contents;
    }
    .ticket-booking{
        display: none;
    }

    .row {
        display: flex;
        
        width:90%;
        height:64vh;
        background-color: snow;
        /* margin-left: 4.2px; */
    }
    .seat-booking {
        flex-basis:74%;
        height:90vh;
        text-align: center;
        position: relative;
        
      }
      .seat {
        width: 12px;
        height: 12px;
        background-color: rgb(240, 223, 223);
        margin: 3px;
        cursor: pointer;
      }


}