@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

.movie__list {
   padding:4rem 3rem 2rem;
}

.list__title {
    font-size: 1.75rem;
    margin: 2.5rem 2.5rem 1rem 2.5rem;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 2px;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}