@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* cinemaHall.css */

.cinema-hall {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .banner {
    width: 100%;
    height: 25vh;
    background-color: snow;
    padding: 1rem 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .movie__name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
  }
  
  /* Uncomment the lines below if you want to style the tagline */
  /* .movie__tagline {
    font-size: 16px;
    margin-bottom: 0.5rem;
  } */
  
  .movie__genre {
    background-color: rgba(0, 0, 0, 0.4);
    color: snow;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
  }
