@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.tablist {
    background-color: snow;
    padding-left: 5rem;
}

/* Tablet styles (up to 768px) */
@media only screen and (max-width: 768px) {
    .tablist {
        padding-left: 2rem; /* Adjust padding for smaller screens */
    }
}

/* Mobile styles (up to 480px) */
@media only screen and (max-width: 480px) {
    .tablist {
        padding-left: 1rem; /* Further reduce padding for mobile devices */
    }
}
