@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.search {
    background-color: snow;
    width: 94%;
    height: 18vh;
    border-radius: 20px;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

form {
    flex-basis: 30%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 2rem 5rem;
}

#icon {
    display: flex;
    flex-basis: 25%;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}

#search_cinemahal{
    padding:0.5rem 1rem;
}


